
.wq-blog_01{
	padding: 90px 0 95px;
}

.wq-blog_item{
	margin-bottom: 60px;
	padding-bottom: 60px;
	border-bottom: 1px solid #f0f0f0;
}

.wq-blog_item figure img{
	display: block;
	width: 100%;
	margin-bottom: 25px;
}

.wq-blog_item .wq-blog_info{
	text-transform: uppercase;
	font-size: 14px;
	color: #686868;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: flex-start;
	margin-bottom: 5px;
}

.wq-blog_item .wq-blog_info > span{
	margin-right: 5px;
}

.wq-blog_item .wq-blog_info a:hover{
	color: #5980be;
}

.wq-blog_item h2{
	color: #203260;
	font-size: 30px;
	margin-bottom: 10px;
	margin-top: 15px;
}
.wq-blog_item .wq-btn{
	margin-top: 10px;
}
.wq-blog_item p{
	margin-top: 12px;
	/* color: #203260; */
}
.wq-blog_item.blog_listagem p{
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
}

.wq-pagination li a{
	border-color: #3a375b;
	color: #3a375b;
}
.wq-pagination li a:hover{
	color: #3a375b;
}

.wq-sidebar{padding-left: 30px;}

.wq-buscar{
	position: relative;
}
.wq-buscar input{
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	font-size: 14px;
	color: #262626;
	padding: 20px 20px 16px;
	border-radius: 4px;
	border: 1px solid #e5e5e5;
	width: calc(100% - 42px);
}
.wq-buscar button{
	border: 0;
	position: absolute;
	font-size: 23px;
	color: #262626;
	right: 20px;
	top: calc(50% - 15.5px);
	background-color: transparent;
}

.wq-sidebar_box{
	margin-top: 40px;
}

.wq-sidebar_box h3{
	color: #203260;
	font-size: 25px;
	margin-bottom: 30px;
	text-transform: uppercase;
}

.wq-sidebar_box li img{
	display: block;
	width: 100%;
	margin-bottom: 20px;
}
.wq-sidebar_box li p{
	color: #686868;
	margin-bottom: 10px;
	font-size: 12px;
}

.wq-sidebar_box li h2{
	color: #203260;
	font-size: 20px;
	margin-bottom: 40px;
}
.wq-sidebar_box li h2:hover{
	color: #5980be;
}

.wq-categorias >ul > li:first-child a{
	border-top: 0px;
}
.wq-categorias li a{
	border-top: 1px solid #f0f0f0;
}
.wq-categorias li a{
	display: block;
	padding: 22px 0;
	color: #252525;
	position: relative;
}

.wq-categorias li a:hover{color: #5980be; }

.wq-categorias li>ul>li a{
	padding-left: 20px;
	background-color: #fdfdfd;
}
.wq-categorias li>ul>li>ul>li a{
	padding-left: 40px;
	background-color: #fbfbfb;
}

.wq-comentarios h3{
	color: #203260;
	font-size: 25px;
	text-transform: uppercase;
	margin-bottom: 30px;
}

.wq-blog_item ul li{
	padding-left: 30px;
	position: relative;
	margin: 15px 0;
	font-weight: 400;
}
.wq-blog_item ul li:before{
	content: '';
	display: block;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #203260;
	position: absolute;
	top: calc(50% - 5px);
	left: 0;
}

.wq-blog_item h3{
	margin-top: 15px;
	margin-bottom: 10px;
}
.wq-blog_info p{
	display: none;
}

.wq-blog_item p img{
	display: block;
	display: block;
    width: 95%;
    height: auto;
    margin: 20px auto;
}

