

/* evento-interna_01 */

.wq-evento-interna_01{
	padding: 90px 0 120px;
}
.wq-evento-interna_01 .wq-box_8,
.wq-evento-interna_01 .wq-box_4{
	margin-bottom: 20px;
}
.wq-evento-interna_01 .wq-box_8 > div{
	margin-right: 35px;
}

.wq-projeto_carousel{
	margin-bottom: 20px;
}

.wq-evento-interna_01 .wq-box_8 h2{
	color: #203260;
	font-size: 25px;
	margin: 12px 0 20px;
}
.wq-evento-interna_01 .wq-box_8 p:first-child{
	margin-bottom: 0px;
}
.wq-evento-interna_01 .wq-box_8 p{
	margin-bottom: 20px;
	line-height: 18px;
}

.wq-inscricao_box figure{
	position: relative;
}
.wq-inscricao_box figure:after,
.wq-inscricao_box figcaption{
	position: absolute;
	height: 100%;
	left: 0px;
	top: 0px;
	width: 100%;
}
.wq-inscricao_box figure:after{
	display: block;
	content: '';
	mix-blend-mode: color;
	filter: brightness(1);
	background: linear-gradient( 131deg, #5980be, #203260);
}

.wq-inscricao_box figure img{
	position: relative;
	display: block;
	width: 100%;
	filter: grayscale(1)brightness(.3);
}

.wq-inscricao_box figcaption{
	z-index: 3;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: 0 45px;
	width: calc(100% - 90px);
}

.wq-inscricao_box figcaption h3{
	font-size: 25px;
}
.wq-inscricao_box figcaption h3:after{
	content: '';
	display: block;
	width: 29px;
	height: 5px;
	border-radius: 2px;
	margin: 8px auto 0px;
	background-color: #5980be;
}
.wq-inscricao_box .wq-data-hora{
	height: 240px;
}

.wq-inscricao_box form{
	padding: 35px 22px;
	background-color: #5980be;
}
.wq-inscricao_box form input,
.wq-inscricao_box form textarea{
	width: calc(100% - 50px);
	padding: 0 25px;
	line-height: 55px;
	border: 0px;
	border-radius: 4px;
	margin-bottom: 20px;
	color: #5980be;
}
.wq-inscricao_box form textarea{
	height: 90px;
}

.wq-evento-interna_info{
	display: flex;
	flex-wrap: wrap;
	padding: 32px;
	border: 2px solid #5980be;
}

.wq-evento-interna_info p{
	font-size: 13.2px;
}
.wq-evento-interna_info h3{
	font-size: 26px;
	color: #5980be;
}
.wq-evento-interna_info div{
	margin-right: 27px;
}
.wq-evento-interna_info div:last-child{
	margin-right: 0px;
}

/* evento-interna_01 */
