<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
	<title>IC&B</title>

	<link rel="stylesheet" type="text/css" href="css/webquantica-grid.css">
	<link rel="stylesheet" type="text/css" href="style.css">
	<link rel="stylesheet" type="text/css" href="css/lity.css">
	<link rel="stylesheet" type="text/css" href="css/beneficios.css">
	<link rel="stylesheet" type="text/css" href="mobile.css">
	
	<script src="js/jquery.js"></script>
	<script src="js/webquantica-grid.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/lity.min.js"></script>
	<script src="js/carousel.js"></script>
</head>
<body>

	<header class="wq-header wq-header_horizontal">
		<div class="wq-header_top">
			<div class="wq-container">
				<div class="wq-flex">
					<ul class="wq-contato wq-lista-inline">
						<li>
							<a href="">
								<span class="flaticon-phone-call-1"></span>
								<address>62 9 9294.3866</address>
							</a>
						</li>
						<li>
							<a href="">
								<span class="flaticon-whatsapp-1"></span>
								<address>62 9 8416.3296</address>
							</a>
						</li>
					</ul>
					<ul class="wq-midias-sociais wq-lista-inline">
						<li><a href="#" target="_blank"><span class="flaticon-phone-1"></span></a></li>
						<li><a href="#" target="_blank"><span class="flaticon-facebook-1"></span></a></li>
						<li><a href="#" target="_blank"><span class="flaticon-whatsapp-1"></span></a></li>
						<li><a href="#" target="_blank"><span class="flaticon-youtube-1"></span></a></li>
						<li><a href="#" target="_blank"><span class="flaticon-instagram-1"></span></a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="wq-header_bottom">
			<div class="wq-container">
				<div class="wq-flex">
					<div class="wq-logo">
						<a href="index.html">
							<img src="img/logo.png" alt="" title="">
						</a>
					</div>
					<div class="wq-btn_menu">
						<hr>
						<hr>
						<hr>
					</div>
					<nav class="wq-menu_principal">
						<ul class="wq-lista-inline">
							<li><a href="index.html" class="active">Home</a></li>
							<li><a href="empresa.html">O ic&b</a></li>
							<li><a href="servicos.html">hub de soluções</a></li>
							<li><a href="eventos.html">Eventos</a></li>
							<li><a href="beneficios.html">ACELERADORA DE NEGÓCIOS</a></li>
							<li><a href="blog.html">Blog</a></li>
							<li><a href="contato.html">Contato</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</header>

	<section class="wq-banner_pagina">
		<img src="img/breadcrumbs.jpg" alt="" title="">
		<div class="wq-breadcrumbs">
			<div class="wq-container">
				<p><a href="">HOME</a> > CLUBE DE BENEFÍCIOS > CONSULTORIA FINANCEIRA</p>
				<h1>CONSULTORIA FINANCEIRA</h1>
			</div>
		</div>
	</section>

	<section class="wq-beneficio-interna_01">
		<div class="wq-container">
			<div class="wq-flex">
				<article class="wq-box_8 wq-box_cp-12 wq-box_cl-12 wq-box_tp-12">
					<div>
						<p>CLUBE DE BENEFÍCIOS</p>
						<h2>CONSULTORIA FINANCEIRA</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eget purus vulputate, dapibus nisl ac, porta velit. Maecenas gravida efficitur mauris vel venenatis. Nulla eget viverra massa. Morbi elementum dolor at diam tempus, id suscipit justo iaculis. Morbi aliquet facilisis libero et mollis. Sed ac lacus congue, elementum nibh ac, ultrices sem. Integer imperdiet efficitur tortor. Ut tristique quam nec nibh iaculis, ac volutpat diam consectetur. Fusce tincidunt nec nisi luctus molestie. Nullam hendrerit metus at elit blandit, ut tincidunt eros tempor. In non semper nulla, nec laoreet felis. Quisque nec orci auctor, volutpat lacus nec, ultrices elit. Vivamus fringilla augue eget erat tincidunt porttitor. Morbi metus diam, pretium ac porttitor eget, semper eget risus. Ut mattis vitae justo nec euismod. In congue pellentesque venenatis.</p>
						<p>Etiam sollicitudin molestie semper. Aenean congue accumsan tortor vel feugiat. Suspendisse bibendum libero ut elit feugiat aliquet. Vivamus id imperdiet quam, vel lacinia tortor. Praesent in diam mollis, consectetur nisl nec, laoreet nulla. Praesent vel justo fermentum, finibus ligula vitae, consequat lorem. In id sapien nisi. Praesent mollis risus vel elit maximus, sit amet laoreet sem sollicitudin. Etiam a urna luctus erat imperdiet molestie at ut magna. Donec vestibulum lorem eu lacus fringilla, eu iaculis nisi feugiat. Aliquam venenatis rutrum dui, sed rhoncus purus rhoncus sit amet. Quisque congue efficitur lobortis.</p>
						<p>Ut eget odio commodo, venenatis metus quis, rutrum purus. Sed faucibus sollicitudin tempus. Phasellus pretium ligula in finibus sagittis. Nullam quis tortor id mi iaculis luctus. Mauris sollicitudin nisl metus, vitae efficitur diam mattis nec. Quisque a leo tempor, venenatis diam ut, pharetra tortor. Sed interdum arcu ut tristique placerat. Phasellus non purus libero. Maecenas mauris orci, dapibus semper odio in, finibus molestie massa. Phasellus dignissim sem at quam suscipit mattis. Nunc eu efficitur augue, eu mollis urna. Donec eget convallis dolor. Nam sed maximus turpis.</p>
					</div>
				</article>
				<aside class="wq-box_4 wq-box_cp-12 wq-box_cl-12 wq-box_tp-12">
					<div class="wq-inscricao_box">
						<figure>
							<img src="img/servico-sidebar.jpg" alt="" title="">
							<figcaption>
								<h3>INSCREVA-SE PARA O WORKSHOP DE DIREÇÃO DE ARTE</h3>
							</figcaption>
						</figure>
						<form action="">
							<input type="text" placeholder="Qual é o seu nome?">
							<input type="text" placeholder="Qual é o nome da sua empresa?">
							<input type="email" placeholder="Qual é o seu melhor email?">
							<input type="text" placeholder="Qual é o seu whatsapp?">
							<div class="wq-dir">
								<button class="wq-btn wq-btn_peq">
									<span>Enviar</span>
								</button>
							</div>
						</form>
					</div>
				</aside>
			</div>
		</div>
	</section>

	<section class="wq-03 wq-cto">
		<div class="wq-container">
			<div class="wq-flex">
				<div class="wq-box_3 wq-box_cp-6 wq-box_cl-6 wq-box_tp-6">
					<div class="wq-statistics">
						<h3>+350</h3>
						<h4>Empresas participantes</h4>
					</div>
				</div>
				<div class="wq-box_3 wq-box_cp-6 wq-box_cl-6 wq-box_tp-6">
					<div class="wq-statistics">
						<h3>+1240</h3>
						<h4>empreendedores ativos</h4>
					</div>
				</div>
				<div class="wq-box_3 wq-box_cp-6 wq-box_cl-6 wq-box_tp-6">
					<div class="wq-statistics">
						<h3>+34</h3>
						<h4>encontros realizados</h4>
					</div>
				</div>
				<div class="wq-box_3 wq-box_cp-6 wq-box_cl-6 wq-box_tp-6">
					<div class="wq-statistics">
						<h3>+290</h3>
						<h4>negócios viabilizados</h4>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="wq-06">
		<div class="wq-container">
			<div class="wq-flex">
				<div class="wq-box_4 wq-box_cp-12 wq-box_cl-12">
					<h3 class="wq-titulo_1">NEWSLETTER</h3>
					<p>Receba o conteúdo da nossa rede em primeira mão.</p>
				</div>
				<div class="wq-box_8 wq-box_cp-12 wq-box_cl-12">
					<form action="" class="wq-flex">
						<input type="text" placeholder="Qual é o seu nome?">
						<input type="email" placeholder="Qual é o seu email?">
						<button class="wq-btn">
							<span>ENVIAR</span>
						</button>
					</form>
				</div>
			</div>
		</div>
	</section>

	<section class="wq-07 wq-cto">
		<div class="wq-container">
			<div class="wq-carousel_depoimentos">
				<div class="wq-depoimento_item">
					<figure>
						<img src="img/depoimentos.png" alt="" title="">
					</figure>
					<div>
						<h3>Alessandra Campos</h3>
						<p>“Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the<br> industry's standard dummy text”</p>
					</div>
				</div>
				<div class="wq-depoimento_item">
					<figure>
						<img src="img/depoimentos.png" alt="" title="">
					</figure>
					<div>
						<h3>Alessandra Campos</h3>
						<p>“Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the<br> industry's standard dummy text”</p>
					</div>
				</div>
				<div class="wq-depoimento_item">
					<figure>
						<img src="img/depoimentos.png" alt="" title="">
					</figure>
					<div>
						<h3>Alessandra Campos</h3>
						<p>“Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the<br> industry's standard dummy text”</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<footer class="wq-footer">
		<div class="wq-footer_top wq-cto">
			<ul class="wq-midias-sociais wq-lista-inline">
				<li><a href="#" target="_blank"><span class="flaticon-phone-1"></span></a></li>
				<li><a href="#" target="_blank"><span class="flaticon-facebook-1"></span></a></li>
				<li><a href="#" target="_blank"><span class="flaticon-whatsapp-1"></span></a></li>
				<li><a href="#" target="_blank"><span class="flaticon-youtube-1"></span></a></li>
				<li><a href="#" target="_blank"><span class="flaticon-instagram-1"></span></a></li>
			</ul>
		</div>
		<div class="wq-footer_bottom">
			<div class="wq-container">
				<div class="wq-flex">
					<p>© Copyright IC&B - Todos os direitos reservados.</p>
					<p>Desenvolvido por: <a href="" target="_blank">Atom Websites</a></p>
				</div>
			</div>
		</div>
	</footer>

</body>
</html>