<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
	<title>IC&B</title>

	<link rel="stylesheet" type="text/css" href="css/webquantica-grid.css">
	<link rel="stylesheet" type="text/css" href="style.css">
	<link rel="stylesheet" type="text/css" href="css/lity.css">
	<link rel="stylesheet" type="text/css" href="css/beneficios.css">
	<link rel="stylesheet" type="text/css" href="mobile.css">
	
	<script src="js/jquery.js"></script>
	<script src="js/webquantica-grid.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/lity.min.js"></script>
	<script src="js/carousel.js"></script>
</head>
<body>

	<header class="wq-header wq-header_horizontal">
		<div class="wq-header_top">
			<div class="wq-container">
				<div class="wq-flex">
					<ul class="wq-contato wq-lista-inline">
						<li>
							<a href="">
								<span class="flaticon-phone-call-1"></span>
								<address>62 9 9294.3866</address>
							</a>
						</li>
						<li>
							<a href="">
								<span class="flaticon-whatsapp-1"></span>
								<address>62 9 8416.3296</address>
							</a>
						</li>
					</ul>
					<ul class="wq-midias-sociais wq-lista-inline">
						<li><a href="#" target="_blank"><span class="flaticon-phone-1"></span></a></li>
						<li><a href="#" target="_blank"><span class="flaticon-facebook-1"></span></a></li>
						<li><a href="#" target="_blank"><span class="flaticon-whatsapp-1"></span></a></li>
						<li><a href="#" target="_blank"><span class="flaticon-youtube-1"></span></a></li>
						<li><a href="#" target="_blank"><span class="flaticon-instagram-1"></span></a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="wq-header_bottom">
			<div class="wq-container">
				<div class="wq-flex">
					<div class="wq-logo">
						<a href="index.html">
							<img src="img/logo.png" alt="" title="">
						</a>
					</div>
					<div class="wq-btn_menu">
						<hr>
						<hr>
						<hr>
					</div>
					<nav class="wq-menu_principal">
						<ul class="wq-lista-inline">
							<li><a href="index.html" class="active">Home</a></li>
							<li><a href="empresa.html">O ic&b</a></li>
							<li><a href="servicos.html">hub de soluções</a></li>
							<li><a href="eventos.html">Eventos</a></li>
							<li><a href="beneficios.html">ACELERADORA DE NEGÓCIOS </a></li>
							<li><a href="blog.html">Blog</a></li>
							<li><a href="contato.html">Contato</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</header>

	<section class="wq-banner_pagina">
		<img src="img/breadcrumbs.jpg" alt="" title="">
		<div class="wq-breadcrumbs">
			<div class="wq-container">
				<p><a href="">HOME</a> > EVENTOS</p>
				<h1>EVENTOS</h1>
			</div>
		</div>
	</section>

	<section class="wq-02">
		<div class="wq-container">
			<div class="wq-cto">
				<h3 class="wq-titulo_1">AGENDA IC&B</h3>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text</p>
			</div>
			<div class="wq-flex">
				<div class="wq-box_4 wq-box_cp-12 wq-box_cl-6 wq-box_tp-6">
					<div class="wq-treinamento_box">
						<figure>
							<img src="img/treinamento.jpg" alt="" title="">
						</figure>
						<div>
							<h2>MARKETING DIGITAL</h2>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.</p>
							<a href="evento-interna.html" class="wq-btn">
								<span>Saiba mais</span>
							</a>
						</div>
					</div>
				</div>
				<div class="wq-box_4 wq-box_cp-12 wq-box_cl-6 wq-box_tp-6">
					<div class="wq-treinamento_box">
						<figure>
							<img src="img/treinamento.jpg" alt="" title="">
						</figure>
						<div>
							<h2>MARKETING DIGITAL</h2>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.</p>
							<a href="evento-interna.html" class="wq-btn">
								<span>Saiba mais</span>
							</a>
						</div>
					</div>
				</div>
				<div class="wq-box_4 wq-box_cp-12 wq-box_cl-6 wq-box_tp-6">
					<div class="wq-treinamento_box">
						<figure>
							<img src="img/treinamento.jpg" alt="" title="">
						</figure>
						<div>
							<h2>MARKETING DIGITAL</h2>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.</p>
							<a href="evento-interna.html" class="wq-btn">
								<span>Saiba mais</span>
							</a>
						</div>
					</div>
				</div>
				<div class="wq-box_4 wq-box_cp-12 wq-box_cl-6 wq-box_tp-6">
					<div class="wq-treinamento_box">
						<figure>
							<img src="img/treinamento.jpg" alt="" title="">
						</figure>
						<div>
							<h2>MARKETING DIGITAL</h2>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.</p>
							<a href="evento-interna.html" class="wq-btn">
								<span>Saiba mais</span>
							</a>
						</div>
					</div>
				</div>
				<div class="wq-box_4 wq-box_cp-12 wq-box_cl-6 wq-box_tp-6">
					<div class="wq-treinamento_box">
						<figure>
							<img src="img/treinamento.jpg" alt="" title="">
						</figure>
						<div>
							<h2>MARKETING DIGITAL</h2>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.</p>
							<a href="evento-interna.html" class="wq-btn">
								<span>Saiba mais</span>
							</a>
						</div>
					</div>
				</div>
				<div class="wq-box_4 wq-box_cp-12 wq-box_cl-6 wq-box_tp-6">
					<div class="wq-treinamento_box">
						<figure>
							<img src="img/treinamento.jpg" alt="" title="">
						</figure>
						<div>
							<h2>MARKETING DIGITAL</h2>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.</p>
							<a href="evento-interna.html" class="wq-btn">
								<span>Saiba mais</span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="wq-new-formulario">
		<div class="wq-container">
			<form>
				<input name="" type="text" placeholder="Qual é o seu nome?">
				<input name="" type="text" placeholder="Qual é o nome da sua empresa?">
				<select name="" required="">
					<option value="">Selecione qtd. de colaboradores</option>
					<option value="Qtd 001">Qtd 001</option>
					<option value="qtd 022">qtd 022</option>
				</select>
				<select name="" required="">
					<option value="">Selecione seu cargo</option>
					<option value="Cargo t1">Cargo t1</option>
					<option value="Cargo t2">Cargo t2</option>
				</select>
				<input name="" type="email" placeholder="Qual é o seu melhor email?">
				<input name="" type="text" placeholder="(62) 5555-5555" class="inputphone">
				<div class="wq-dir">
					<button type="submit" class="wq-btn wq-btn_peq">
						<span>Enviar</span>
					</button>
				</div>
			</form>
		</div>
	</section>

	<footer class="wq-footer">
		<div class="wq-footer_top wq-cto">
			<ul class="wq-midias-sociais wq-lista-inline">
				<li><a href="#" target="_blank"><span class="flaticon-phone-1"></span></a></li>
				<li><a href="#" target="_blank"><span class="flaticon-facebook-1"></span></a></li>
				<li><a href="#" target="_blank"><span class="flaticon-whatsapp-1"></span></a></li>
				<li><a href="#" target="_blank"><span class="flaticon-youtube-1"></span></a></li>
				<li><a href="#" target="_blank"><span class="flaticon-instagram-1"></span></a></li>
			</ul>
		</div>
		<div class="wq-footer_bottom">
			<div class="wq-container">
				<div class="wq-flex">
					<p>© Copyright IC&B - Todos os direitos reservados.</p>
					<p>Desenvolvido por: <a href="" target="_blank">Atom Websites</a></p>
				</div>
			</div>
		</div>
	</footer>

</body>
</html>