<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
	<title>IC&B</title>

	<link rel="stylesheet" type="text/css" href="css/webquantica-grid.css">
	<link rel="stylesheet" type="text/css" href="style.css">
	<link rel="stylesheet" type="text/css" href="css/lity.css">
	<link rel="stylesheet" type="text/css" href="mobile.css">
	
	<script src="js/jquery.js"></script>
	<script src="js/webquantica-grid.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/lity.min.js"></script>
	<script src="js/carousel.js"></script>
</head>
<body>

	<header class="wq-header wq-header_horizontal">
		<div class="wq-header_top">
			<div class="wq-container">
				<div class="wq-flex">
					<ul class="wq-contato wq-lista-inline">
						<li>
							<a href="">
								<span class="flaticon-phone-call-1"></span>
								<address>62 9 9294.3866</address>
							</a>
						</li>
						<li>
							<a href="">
								<span class="flaticon-whatsapp-1"></span>
								<address>62 9 8416.3296</address>
							</a>
						</li>
					</ul>
					<ul class="wq-midias-sociais wq-lista-inline">
						<li><a href="#" target="_blank"><span class="flaticon-phone-1"></span></a></li>
						<li><a href="#" target="_blank"><span class="flaticon-facebook-1"></span></a></li>
						<li><a href="#" target="_blank"><span class="flaticon-whatsapp-1"></span></a></li>
						<li><a href="#" target="_blank"><span class="flaticon-youtube-1"></span></a></li>
						<li><a href="#" target="_blank"><span class="flaticon-instagram-1"></span></a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="wq-header_bottom">
			<div class="wq-container">
				<div class="wq-flex">
					<div class="wq-logo">
						<a href="index.html">
							<img src="img/logo.png" alt="" title="">
						</a>
					</div>
					<div class="wq-btn_menu">
						<hr>
						<hr>
						<hr>
					</div>
					<nav class="wq-menu_principal">
						<ul class="wq-lista-inline">
							<li><a href="index.html" class="active">Home</a></li>
							<li><a href="empresa.html">O ic&b</a></li>
							<li><a href="servicos.html">hub de soluções</a></li>
							<li><a href="eventos.html">Eventos</a></li>
							<li><a href="beneficios.html">ACELERADORA DE NEGÓCIOS </a></li>
							<li><a href="blog.html">Blog</a></li>
							<li><a href="contato.html">Contato</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</header>

	<section class="wq-banner">
		<div class="wq-banner_item">
			<figure>
				<img src="img/banner.jpg" alt="" title="">
			</figure>
			<div class="wq-banner_conteudo">
				<p>INVEST, CARREIRA & BUSINESS</p>
				<h2>FOMENTANDO O ECOSSISTEMA DE NEGÓCIOS</h2>
				<a href="" class="wq-btn">
					<span>CONECTE-SE</span>
				</a>
			</div>
		</div>	
	</section>

	<section class="wq-01">
		<div class="wq-container">
			<div class="wq-empresa_box">
				<div class="wq-flex">
					<div class="wq-box_5f wq-box_cp-12f wq-box_cl-12f wq-box_tp-6f wq-box_tl-6f">
						<figure>
							<a href="https://www.youtube.com/watch?v=AzmU9sF47wI" data-lity>
								<img src="img/wq-01.jpg" alt="" title="">
							</a>
						</figure>
					</div>
					<div class="wq-box_7f wq-box_cp-12f wq-box_cl-12f wq-box_tp-6f wq-box_tl-6f">
						<div>
							<p>INVEST, CARREIRA & BUSINESS</p>
							<h2>NETWORKING, RODADA DE NEGÓCIOS,<br> ECONOMIA COLABORATIVA E MUITO MAIS.</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vitae varius erat, in facilisis dolor.</p>
							<a href="" class="wq-btn">
								<span>Saiba mais</span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="wq-03 wq-cto">
		<div class="wq-container">
			<div class="wq-flex">
				<div class="wq-box_3 wq-box_cp-6 wq-box_cl-6 wq-box_tp-6">
					<div class="wq-statistics">
						<h3>+350</h3>
						<h4>Empresas participantes</h4>
					</div>
				</div>
				<div class="wq-box_3 wq-box_cp-6 wq-box_cl-6 wq-box_tp-6">
					<div class="wq-statistics">
						<h3>+1240</h3>
						<h4>empreendedores ativos</h4>
					</div>
				</div>
				<div class="wq-box_3 wq-box_cp-6 wq-box_cl-6 wq-box_tp-6">
					<div class="wq-statistics">
						<h3>+34</h3>
						<h4>encontros realizados</h4>
					</div>
				</div>
				<div class="wq-box_3 wq-box_cp-6 wq-box_cl-6 wq-box_tp-6">
					<div class="wq-statistics">
						<h3>+290</h3>
						<h4>negócios viabilizados</h4>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="wq-04 wq-cto">
		<div class="wq-container">
			<h3 class="wq-titulo_1">TREINAMENTOS E CAPACITAÇÕES</h3>
			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text</p>
			<div class="wq-carousel_treinamentos">
				<div class="wq-treinamento_box">
					<figure>
						<img src="img/treinamento.jpg" alt="" title="">
					</figure>
					<div>
						<h2>COMUNICAÇÃO ASSERTIVA</h2>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.</p>
						<a href="servico-interna.html" class="wq-btn">
							<span>Saiba mais</span>
						</a>
					</div>
				</div>
				<div class="wq-treinamento_box">
					<figure>
						<img src="img/treinamento.jpg" alt="" title="">
					</figure>
					<div>
						<h2>COMUNICAÇÃO ASSERTIVA</h2>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.</p>
						<a href="servico-interna.html" class="wq-btn">
							<span>Saiba mais</span>
						</a>
					</div>
				</div>
				<div class="wq-treinamento_box">
					<figure>
						<img src="img/treinamento.jpg" alt="" title="">
					</figure>
					<div>
						<h2>COMUNICAÇÃO ASSERTIVA</h2>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.</p>
						<a href="servico-interna.html" class="wq-btn">
							<span>Saiba mais</span>
						</a>
					</div>
				</div>
				<div class="wq-treinamento_box">
					<figure>
						<img src="img/treinamento.jpg" alt="" title="">
					</figure>
					<div>
						<h2>COMUNICAÇÃO ASSERTIVA</h2>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.</p>
						<a href="servico-interna.html" class="wq-btn">
							<span>Saiba mais</span>
						</a>
					</div>
				</div>
				<div class="wq-treinamento_box">
					<figure>
						<img src="img/treinamento.jpg" alt="" title="">
					</figure>
					<div>
						<h2>COMUNICAÇÃO ASSERTIVA</h2>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.</p>
						<a href="servico-interna.html" class="wq-btn">
							<span>Saiba mais</span>
						</a>
					</div>
				</div>
				<div class="wq-treinamento_box">
					<figure>
						<img src="img/treinamento.jpg" alt="" title="">
					</figure>
					<div>
						<h2>COMUNICAÇÃO ASSERTIVA</h2>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.</p>
						<a href="servico-interna.html" class="wq-btn">
							<span>Saiba mais</span>
						</a>
					</div>
				</div>
				<div class="wq-treinamento_box">
					<figure>
						<img src="img/treinamento.jpg" alt="" title="">
					</figure>
					<div>
						<h2>COMUNICAÇÃO ASSERTIVA</h2>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.</p>
						<a href="servico-interna.html" class="wq-btn">
							<span>Saiba mais</span>
						</a>
					</div>
				</div>
				<div class="wq-treinamento_box">
					<figure>
						<img src="img/treinamento.jpg" alt="" title="">
					</figure>
					<div>
						<h2>COMUNICAÇÃO ASSERTIVA</h2>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.</p>
						<a href="servico-interna.html" class="wq-btn">
							<span>Saiba mais</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="wq-05 wq-cto">
		<div class="wq-container">
			<h3 class="wq-titulo_1">DICAS DA REDE</h3>
			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text</p>
			<div class="wq-flex wq-esq">
				<div class="wq-box_4 wq-box_cp-12 wq-box_cl-6 wq-box_tp-6">
					<article>
						<figure>
							<img src="img/blog.jpg" alt="" title="">
						</figure>
						<div>
							<ul class="wq-blog_info wq-lista-inline">
								<li>
									<a href="blog-interna.html">
										<span class="flaticon-calendar-1"></span>10/12/2017
									</a>
								</li>
								<li>
									<a href="blog-interna.html">
										<span class="flaticon-folder-2"></span>MARKETING DIGITAL
									</a>
								</li>
							</ul>
							<h2><a href="">Facilisis Dolor Varius</a></h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vitae varius erat, in facilisis dolor.</p>
							<a href="">Ler mais</a>
						</div>
					</article>
				</div>
				<div class="wq-box_4 wq-box_cp-12 wq-box_cl-6 wq-box_tp-6">
					<article>
						<figure>
							<img src="img/blog.jpg" alt="" title="">
						</figure>
						<div>
							<ul class="wq-blog_info wq-lista-inline">
								<li>
									<a href="blog-interna.html">
										<span class="flaticon-calendar-1"></span>10/12/2017
									</a>
								</li>
								<li>
									<a href="blog-interna.html">
										<span class="flaticon-folder-2"></span>MARKETING DIGITAL
									</a>
								</li>
							</ul>
							<h2><a href="">Facilisis Dolor Varius</a></h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vitae varius erat, in facilisis dolor.</p>
							<a href="">Ler mais</a>
						</div>
					</article>
				</div>
				<div class="wq-box_4 wq-box_cp-12 wq-box_cl-6 wq-box_tp-6">
					<article>
						<figure>
							<img src="img/blog.jpg" alt="" title="">
						</figure>
						<div>
							<ul class="wq-blog_info wq-lista-inline">
								<li>
									<a href="blog-interna.html">
										<span class="flaticon-calendar-1"></span>10/12/2017
									</a>
								</li>
								<li>
									<a href="blog-interna.html">
										<span class="flaticon-folder-2"></span>MARKETING DIGITAL
									</a>
								</li>
							</ul>
							<h2><a href="">Facilisis Dolor Varius</a></h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vitae varius erat, in facilisis dolor.</p>
							<a href="">Ler mais</a>
						</div>
					</article>
				</div>
				<div class="wq-box_4 wq-box_cp-12 wq-box_cl-6 wq-box_tp-6">
					<article>
						<figure>
							<img src="img/blog.jpg" alt="" title="">
						</figure>
						<div>
							<ul class="wq-blog_info wq-lista-inline">
								<li>
									<a href="blog-interna.html">
										<span class="flaticon-calendar-1"></span>10/12/2017
									</a>
								</li>
								<li>
									<a href="blog-interna.html">
										<span class="flaticon-folder-2"></span>MARKETING DIGITAL
									</a>
								</li>
							</ul>
							<h2><a href="">Facilisis Dolor Varius</a></h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vitae varius erat, in facilisis dolor.</p>
							<a href="">Ler mais</a>
						</div>
					</article>
				</div>
				<div class="wq-box_4 wq-box_cp-12 wq-box_cl-6 wq-box_tp-6">
					<article>
						<figure>
							<img src="img/blog.jpg" alt="" title="">
						</figure>
						<div>
							<ul class="wq-blog_info wq-lista-inline">
								<li>
									<a href="blog-interna.html">
										<span class="flaticon-calendar-1"></span>10/12/2017
									</a>
								</li>
								<li>
									<a href="blog-interna.html">
										<span class="flaticon-folder-2"></span>MARKETING DIGITAL
									</a>
								</li>
							</ul>
							<h2><a href="">Facilisis Dolor Varius</a></h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vitae varius erat, in facilisis dolor.</p>
							<a href="">Ler mais</a>
						</div>
					</article>
				</div>
				<div class="wq-box_4 wq-box_cp-12 wq-box_cl-6 wq-box_tp-6">
					<article>
						<figure>
							<img src="img/blog.jpg" alt="" title="">
						</figure>
						<div>
							<ul class="wq-blog_info wq-lista-inline">
								<li>
									<a href="blog-interna.html">
										<span class="flaticon-calendar-1"></span>10/12/2017
									</a>
								</li>
								<li>
									<a href="blog-interna.html">
										<span class="flaticon-folder-2"></span>MARKETING DIGITAL
									</a>
								</li>
							</ul>
							<h2><a href="">Facilisis Dolor Varius</a></h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vitae varius erat, in facilisis dolor.</p>
							<a href="">Ler mais</a>
						</div>
					</article>
				</div>
			</div>
			<a href="" class="wq-btn">
				<span>TODOS OS ARTIGOS</span>
			</a>
		</div>
	</section>

	<section class="wq-06">
		<div class="wq-container">
			<div class="wq-flex">
				<div class="wq-box_4 wq-box_cp-12 wq-box_cl-12 wq-box_tp-12">
					<h3 class="wq-titulo_1">NEWSLETTER</h3>
					<p>Receba o conteúdo da nossa rede em primeira mão.</p>
				</div>
				<div class="wq-box_8 wq-box_cp-12 wq-box_cl-12 wq-box_tp-12">
					<form action="" class="wq-flex">
						<input type="text" placeholder="Qual é o seu nome?">
						<input type="email" placeholder="Qual é o seu email?">
						<button class="wq-btn">
							<span>ENVIAR</span>
						</button>
					</form>
				</div>
			</div>
		</div>
	</section>

	<section class="wq-07 wq-cto">
		<div class="wq-container">
			<div class="wq-carousel_depoimentos">
				<div class="wq-depoimento_item">
					<figure>
						<img src="img/depoimentos.png" alt="" title="">
					</figure>
					<div>
						<h3>Alessandra Campos</h3>
						<p>“Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text”</p>
					</div>
				</div>
				<div class="wq-depoimento_item">
					<figure>
						<img src="img/depoimentos.png" alt="" title="">
					</figure>
					<div>
						<h3>Alessandra Campos</h3>
						<p>“Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text”</p>
					</div>
				</div>
				<div class="wq-depoimento_item">
					<figure>
						<img src="img/depoimentos.png" alt="" title="">
					</figure>
					<div>
						<h3>Alessandra Campos</h3>
						<p>“Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text”</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<footer class="wq-footer">
		<div class="wq-footer_top wq-cto">
			<ul class="wq-midias-sociais wq-lista-inline">
				<li><a href="#" target="_blank"><span class="flaticon-phone-1"></span></a></li>
				<li><a href="#" target="_blank"><span class="flaticon-facebook-1"></span></a></li>
				<li><a href="#" target="_blank"><span class="flaticon-whatsapp-1"></span></a></li>
				<li><a href="#" target="_blank"><span class="flaticon-youtube-1"></span></a></li>
				<li><a href="#" target="_blank"><span class="flaticon-instagram-1"></span></a></li>
			</ul>
		</div>
		<div class="wq-footer_bottom">
			<div class="wq-container">
				<div class="wq-flex">
					<p>© Copyright IC&B - Todos os direitos reservados.</p>
					<p>Desenvolvido por: <a href="" target="_blank">Atom Websites</a></p>
				</div>
			</div>
		</div>
	</footer>

</body>
</html>